/* <!--Main--> */
/* <!--Tabla--> */

.table {
  background-color: rgb(248, 220, 225);
  margin-top: 5%;
  padding: 10%;
  width: 90%;
  margin-left: 5%;
}
.titulo {
  text-decoration: underline grey;
  text-align: center;
  font-weight: bold;
  font-style: italic;
  @include color-and-size(grey, 30px);
}
/* <!--Texto e imagen--> */
.baño {
  margin-bottom: 10%;
  margin-top: 10%;
}
.imgbaño {
  padding: 10px;
  border-top: 20%;
  max-width: 100%;
  box-shadow: 10px 5px 5px grey;
  @include sizes(500px, 400px);
}
.asesorias {
  background-image: linear-gradient(to left, white, rgb(248, 203, 210));
  border-radius: 10px;
  justify-content: center;
  padding: 70px;
  font-size: 20px;
}
@media (max-width: 576px) {
  .imgbaño {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 5%;
  }
  .asesorias {
    font-size: 15px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .asesorias {
    margin-left: 5%;
    margin-right: 5%;
    width: 100%;
    margin-top: 10%;
  }
  .imgbaño {
    width: 100%;
    margin-left: 40%;
  }
}
