/* <!--Main--> */

.contact {
  text-align: left;
  margin-bottom: 10%;
  margin-top: 8%;
}

.contacto {
  background-image: linear-gradient(rgb(223, 217, 217), rgb(248, 203, 210));
  border-radius: 10px;
  align-items: center;
  padding: 70px;
  font-size: 20px;
  margin-left: 20%;
  @include sizes(400px, 300px);
}
@media (max-width: 576px) {
  .contacto {
    margin-left: 1%;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .contact {
    width: 90%;
    margin-left: 2%;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .contacto {
    margin-left: 6%;
    margin-right: 5%;
    width: 80%;
    text-align: center;
    margin-top: 10%;
  }
  .contact {
    margin-left: 5%;
  }
}
