@mixin color-and-size($color, $size) {
  color: $color;
  font-size: $size;
}
@mixin sizes($width, $height) {
  height: $height;
  width: $width;
}

/* <!--Main--> */
/* <!--Titulo, imagen, parrafo--> */
.titulo {
  text-align: center;
  text-decoration: underline grey;
  font-weight: bold;
  font-style: italic;
  @include color-and-size(grey, 30px);
}
.imghouses {
  padding: 10px;
  max-width: 100%;
  @include sizes(600px, 300px);
}
.diseños--houses {
  background-color: rgb(248, 220, 225);
  border-radius: 10px;
  align-items: center;
  padding: 70px;
  font-size: 20px;
  @include sizes(400px, 300px);
}

/* <!--Sección de tres imagenes--> */
.trabajos {
  text-decoration: none;
  text-align: center;
  text-decoration: underline grey;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3%;
  margin-top: 8%;
  @include color-and-size(grey, 30px);
}
.link {
  color: gray;
}
.trabajos a:hover {
  color: grey;
}
.imagen {
  border-radius: 20%;
  border-color: grey;
  border-style: solid;
  justify-content: center;
  max-width: 100%;
  margin-bottom: 20%;
  @include sizes(400px, 400px);
}

@media (max-width: 600px) {
  .imagen {
    width: 300px;
    height: 300px;
    margin-top: 2%;
    margin-left: 5%;
  }
  .imghouses {
    height: 200px;
    width: 300px;
    margin-left: 7%;
  }
}
