/* <!--Main--> */
.p {
  text-align: center;
  color: grey;
  text-decoration: underline grey;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin-top: 3%;
}
.nos {
  margin-bottom: 10%;
  margin-top: 3%;
}
.imgnosotros {
  padding: 10px;
  border-top: 20%;
  max-width: 100%;
  box-shadow: 10px 5px 5px grey;
  @include sizes(400px, 300px);
}
.Nosotros {
  background-image: linear-gradient(to left, white, rgb(248, 203, 210));
  border-radius: 10px;
  justify-content: center;
  padding: 70px;
  font-size: 20px;
}
@media (max-width: 576px) {
  .imgnosotros {
    margin-left: 2%;
    margin-right: 1%;
    margin-bottom: 7%;
    width: 90%;
  }
  .Nosotros {
    font-size: 15px;
  }
}
@media (min-width: 600px) and (max-width: 768px) {
  .imgnosotros {
    margin-left: 35%;
    margin-right: 5%;
    width: 100%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .Nosotros {
    width: 100%;
  }
}
