body {
  margin: 0;
  padding: 0;
  background: white;
}
/* <!--Menu--> */
.list {
  text-decoration: none;
  color: white;
  display: block;
}
.menu {
  background: rgb(245, 183, 193);
  font-size: 20px;
  font-weight: bold;
  padding: 10px;
}
.menu a:hover {
  background: rgb(228, 156, 200);
}
.color {
  background-color: rgb(245, 183, 193);
}
.logo {
  width: 120px;
  height: 70px;
}
/* <!--Main--> */
/* <!--Tabla--> */

.table {
  background-color: rgb(248, 220, 225);
  margin-top: 5%;
  padding: 10%;
}
.h1 {
  color: gray;
  text-decoration: underline grey;
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
}
/* <!--Texto e imagen--> */
.container {
  margin-bottom: 8%;
  margin-top: 8%;
}
.imgbaño {
  height: 400px;
  width: 500px;
  padding: 10px;
  border-top: 20%;
  max-width: 100%;
}
.diseños {
  background-image: linear-gradient(to left, white, rgb(248, 203, 210));
  border-radius: 10px;
  justify-content: center;
  padding: 70px;
  font-size: 20px;
}

/* <!--Footer--> */
.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(204, 199, 199);
  text-align: right;
  background-size: cover;
}
.img {
  width: 20px;
  margin: 10px;
}
