body {
  margin: 0;
  padding: 0;
  background: white;
}
/* <!--Menu--> */
.menu {
  background: rgb(245, 183, 193);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
.menu a:hover {
  background: rgb(228, 156, 200);
}
.logo {
  width: 100px;
  height: 60px;
}
/* <!--Main--> */
.p {
  text-align: center;
  color: grey;
  text-decoration: underline grey;
  font-size: 30px;
  font-style: italic;
  font-weight: bold;
  margin-top: 3%;
}
.container {
  margin-bottom: 10%;
  margin-top: 3%;
}
.imgnosotros {
  height: 300px;
  width: 400px;
  padding: 10px;
  border-top: 20%;
  max-width: 100%;
}
.diseños {
  background-image: linear-gradient(to left, white, rgb(248, 203, 210));
  border-radius: 10px;
  justify-content: center;
  padding: 70px;
  font-size: 20px;
}

/* <!--Footer--> */
.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(204, 199, 199);
  color: grey;
  text-align: center;
  background-size: cover;
}
.img {
  width: 20px;
  margin: 10px;
}
@media (max-width: 600px) {
  .imgnosotros {
    width: 300px;
    height: 300px;
    margin-top: 4%;
    margin-left: 2%;
  }
}
