body {
  margin: 0;
  padding: 0;
  background: white;
}
/* <!--Menu--> */
.menu {
  background: rgb(245, 183, 193);
  font-size: 20px;
  font-weight: bold;
  padding: 5px;
  justify-content: center;
  text-align: center;
}
.menu a:hover {
  background: rgb(228, 156, 200);
}
.logo {
  width: 100px;
  height: 60px;
}
/* <!--Main--> */
.titulo {
  text-align: center;
  border-image: 5px;
  color: grey;
  text-decoration: underline grey;
  font-size: 30px;
  font-weight: bold;
  font-style: italic;
  margin-bottom: 3%;
  margin-top: 3%;
}
.imagen {
  border-radius: 20%;
  border-color: grey;
  border-style: solid;
  justify-content: center;
  width: 400px;
  height: 400px;
  max-width: 100%;
}
.container {
  margin-bottom: 6%;
}

/* <!--Footer--> */
.footer {
  width: 100%;
  height: 50px;
  background-color: rgb(204, 199, 199);
  color: grey;
  text-align: center;
  background-size: cover;
  margin-top: 5%;
}
.img {
  width: 20px;
  margin: 10px;
}
@media (max-width: 600px) {
  .imagen {
    width: 300px;
    height: 300px;
    margin-top: 4%;
    margin-left: 5%;
  }
}
